.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  border-bottom: 1px solid #eee;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 10px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.card div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card h2 {
  margin: 4px 0;
  text-align: center;

}

.card p {
  margin: 0;
}
